version: '3.8'

services:
  app:
    image: catapp-image
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"  # Expose the app on port 8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Server=db;Database=CatApiAppDb;User=sa;Password=YourStrong@Passw0rd;Trusted_Connection=False;TrustServerCertificate=True;
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "m3r3d@230592!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"  # Expose SQL Server on the default port
    volumes:
      - sqlserverdata:/var/opt/mssql  # Persist the database data

volumes:
  sqlserverdata:
